 {% extends "layout.html" %}
 {% block body %}
      <h2>Lorem ipsum, Dolor sit</h2>  
          <h3>Nullam vulputate felis id odio interdum nec malesuada mi pretium. </h3>  
          <p>Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.   
          Phasellus consequat arcu eu neque convallis eu vulputate diam vehicula. In eget venenatis nisl.   
          Vestibulum id nulla eu sapien pellentesque malesuada pharetra ac lacus.   
          Curabitur et ultricies quam. Aenean pretium aliquet velit, gravida vulputate urna tempus vel.  </p>  
          <p>Proin tempor erat sit amet nisl porta nec vulputate arcu imperdiet. Praesent luctus egestas nisl, vitae vehicula eros rhoncus vel.   
          Phasellus consequat arcu eu neque convallis eu vulputate diam vehicula. In eget venenatis nisl.   
          Vestibulum id nulla eu sapien pellentesque malesuada pharetra ac lacus. Curabitur et ultricies quam. Aenean pretium aliquet velit,   
          gravida vulputate urna tempus vel. Proin tempor erat sit amet nisl porta nec vulputate arcu imperdiet. </p>  


          <div id='bargains'>
        <img src='http://placekitten.com/960/300' width='960' height='280' />
      </div>
  {% endblock %}

